*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style:none;
    text-decoration:none;
    border-collapse:collapse;
    margin:0px;
    padding:0px;
    color:black;
    background-color: fbfbfb;
    }

    .search {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: auto;
        
        margin-right: auto;
    }
    .search .search-box {
        height: 50px;
        position: relative;
        display: center;
        margin-top: 70px;
        box-shadow : 0 5px 10px rgba(0,0,0,0.25);
        
    }

    .search-box input {
        position: absolute;
        height: 60px;
        width: 700px;
        border-radius: 18px;
        background:#333333;
        outline: none;
        border: none;
        font-size: 16px;
        top: 60px;
        padding-left: 30px;
        color: white;
        margin-left: 50px;
    }

    .logo {
        font-family: 'Fredoka', sans-serif;
        color: #333333;
        text-align: center;
        margin-top: 200px;
        font-size: 48px;
    }

    .icon-image{
        margin-top: 250px;
    }
    .